.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: blue;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    border-bottom: 2px solid purple;
}

.links a {
    font-size: 18px;
    color: white !important;
    text-decoration: none !important;
    margin: auto 8px;
    background-color: blue;
    border: none;   
} 

.links a:hover  {
    border: 2px solid purple;
    padding: 4px;
    border-radius: 2px;
    transform:scale(0.5);
}

em {
    margin: 4px;
    color:aliceblue;
}

.navbar button {
    color: white !important;
}