.home {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.transactions li {
  display: flex;
  align-items: center;
  margin: 24px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50,50,50,0.1);
  padding: 8px;
  border-left: 4px solid #1f9751;
}

.transactions .name {
  color: #777;
  font-size: 1.4em;
}

.transactions .amount {
  margin-left: auto;
  margin-right: 40px;
  color: #777;
  font-weight: bold;
  font-size: 1.6em;
}

.transactionForm {
    margin-top: 24px;
    padding: 28px;
    border: 2px solid green;
    border-radius: 4px;
}


.btn {
    width: 180px;
    display: flex;
    justify-content: center;
    margin: 24px auto;
    border: 2px solid #1f9751;
    padding: 6px 12px;
    border-radius: 4px;
    color: #1f9751;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }
  
.btn:hover {
    background-color: #1f9751;
    color: #fff;
  }